header>p {
    color: #aaa;
}

#devlog-goal {
    margin-top: 0;
}

ul>li>strong.research-type {
    font-size: 1.5rem;
    color: #84b7ff;
}

.entry-image {
    max-width: 100%;
}

.entry-document {
    max-width: 100%;
}

a.link {
    color: #28b;
    word-break: break-all;
}

a.link:hover {
    text-decoration: underline;
}

.source {
    display: contents;
    color: #6cf;
}

.source a:visited {
    color: #28b;
    word-break: break-all;
}

ul#devlog-approach>li {
    margin: 20px 0;
}