#product-preview {
    margin: 20px 0;
}

#product-preview a {
    color: #28b;
}

#product-preview a:hover {
    text-decoration: underline;
}

.embed {
    width: 100%;
    height: 100vh;
    border: none;
}