section {
    margin: auto;
    text-align: center;
}

/* Project Image */
#project-image {
    display: block;
    max-width: 750px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255 255 255 / 20%);
}

/* Description */
#project-description {
    color: #bbb;
}

#devlogs-list>li>a,
#products-list>li>a {
    display: block;
    font-size: 18px;
    color: #6cf;
    background: #1e1e1e;
    border-radius: 6px;
    transition: background 0.3s;
}

#devlogs-list>li>a:hover,
#products-list>li>a:hover {
    color: #fff;
    background: #333;
}

a.unpublished:hover {
    background-color: #773f3f !important;
}